*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --white:#ffffff;
  --black:#000000;
}

html{
  /* Medida para usar rem */
  font-size: 62.5%; 
  background-image: url(https://images.pexels.com/photos/8721342/pexels-photo-8721342.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  
  background-repeat: no-repeat;
  background-size: cover;

  font-family: 'Roboto', sans-serif;
}
body{
  font-size: 1.6rem;
  color: var(--white);
  
}

header,footer{
 
  width: 100%;
  padding: 0 33px;
 
}


.menu{
  padding: 33px;
  height: 10vh;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  column-gap: 1.6rem;
}

.icono-menu{
  width:22px;
  
 }


.menu li:nth-child(4){
  color: var(--white);
  width: 30px;
  height:30px;
  background-color: plum;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}


.menu li:nth-child(4) > a{
  color: var(--white);
  font-size: 2rem;


}

main{
  height: 80vh;
}
.container,.content{
  display: flex;
  justify-content: center ;
  align-items: center;
}

.content{
  flex-direction: column;
  gap: 1.6rem;
  width:33%;
  
  padding: 0;
}

form{
  width: 100%;
}

.input-buscador{
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 5rem;
  height: 4.0rem;
  width: 100%;
  padding: 1.6rem;
  justify-content:space-between;
}



label {
  display: flex;
  flex-direction: row;
  justify-content: center ;
  align-items: center;
}
.icono-lupa img, .icono-microfono img{
  width: 22px;
}

.input{
  width:80%;
  border: none;
}


a{
  text-decoration: none;
  color: var(--white);
}


a:hover{
  cursor: pointer;
}

.links-tipo-de-busqueda{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content:space-around;
  
  
}

.links-tipo-de-busqueda a{
  color: var(--white);
}

footer{
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-section-der ul,.footer-section-izq ul{
  display: flex;
  flex-direction: row;
  gap: 22px;

}


.footer-section-der ul li,.footer-section-izq li{
  list-style: none;
  display: flex;
}


